<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listview</title>
</head>
<body>
    <div class="box">
    <table>
        <tbody>
    {% for user in users_list %}
    <tr>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td><a href="update/{{user.id}}">EDIT DATA</a></td>
    <td><a href="delete/{{user.id}}">DELETE DATA</a></td>
    <br>
    </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>